<div class="container">
  <h1 class="text-center">ユーザー一覧</h1>
  <%= search_form_for @q do |f| %>
    <div class="form-group d-flex my-5">
      <%= f.search_field :name_cont, class: "form-control", placeholder: "ユーザー名を入力" %>
      <%= f.submit class: "btn btn-secondary ml-1 mr-4" %>
      <%= f.submit "一覧に戻る", class: "btn btn-warning", name: "all_users" %>
    </div>
  <% end %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-5 card mx-auto mx-2 mb-2">
        <div class="card-body d-flex flex-row justify-content-center">
          <% if user.portrait? %>
            <div class="mr-5">
              <%= link_to user do %>
                <%= image_tag user.portrait.to_s, size: "120x120" %>
              <% end %>
            </div>
          <% else %>
            <div class="mr-5">
              <%= link_to user do %>
                <%= image_tag "default.jpeg", size: "120x120" %>
              <% end %>
            </div>
          <% end %>
          <div class="d-flex flex-column">
            <h5 class="ml-4 mb-5"><%=link_to user.name, user %></h5>
            <div class="ml-4">
              <%= render "shared/follow_button_form", user: user %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination mt-3">
    <%= paginate @users %>
  </div>
</div>