<div class="container">
  <h1 class="text-center">ユーザー一覧</h1>
  <%= search_form_for @q do |f| %>
    <div class="form-group d-flex my-5">
      <%= f.search_field :name_cont, class: "form-control", placeholder: "ユーザー名を入力" %>
      <%= f.submit class: "btn btn-secondary ml-1 mr-4" %>
      <%= f.submit "一覧に戻る", class: "btn btn-warning", name: "all_users" %>
    </div>
  <% end %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-6 card">
        <div class="card-body">
          <% if user.portrait? %>
            <%= link_to user do %>
              <%= image_tag user.portrait.to_s, size: "120x120" %>
            <% end %>
          <% else %>
            <%= link_to user do %>
              <%= image_tag "default.jpeg", size: "120x120" %>
            <% end %>
          <% end %>
          <p><%=link_to user.name, user %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination mt-3">
    <%= paginate @users %>
  </div>
</div>