<div class="container text-center">
  <p class="font-weight-bold">プロフィール</p>
  <% if user.portrait? %>
    <%= link_to user do %>
      <%= image_tag user.portrait.to_s, size: "120x120", class: "rounded-circle" %>
    <% end %>
  <% else %>
    <%= link_to user do %>
      <%= image_tag "default.jpeg", size: "120x120", class: "rounded-circle" %>
    <% end %>
  <% end %>
  <h5 class="my-4 font-weight-bold"><%= user.name %></h5>
  <div id="follow-stats-area">
    <%= render "shared/follow_stats", user: user %>
  </div>
  <%= render "shared/follow_button_form", user: user %>
</div>